/* You can add global styles to this file, and also import other style files */
html {
    font-family: "Pixelify Sans", sans-serif;
    background-image: url("/assets/wallpaper.webp");
}

.center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin:auto;
}

h1, p, a {
    color: white;
}

a {
    text-decoration: none;
}

button {
    font: inherit;
    margin: auto;
    background: none;
    color: white;
    border-style: none;
    cursor: pointer;
    font-weight: bold;
}

a:hover .linkLabel, button:hover .buttonLabel {
    display: none;
}

a:hover:before, button:hover:before {
    background-color: white;
    color: black;
    content: attr(dataOnHover);
}