/* You can add global styles to this file, and also import other style files */
html {
    font-family: "Pixelify Sans", sans-serif;
    background-image: url("/assets/wallpaper.webp");
}

h1, p, a {
    color: white;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover .linkLabel {
    display: none;
}

a:hover:before {
    background-color: white;
    color: black;
    content: attr(dataOnHover);
}