<div class="login-container">
    <div class="login-box">
      <h2>Sign in</h2>
      <form (ngSubmit)="onSubmit()">
        <div class="input-group">
          <label for="email">E-mail</label>
          <input
            type="email"
            id="email"
            name="email"
            [(ngModel)]="email"
            required
            placeholder="Enter your email"
          />
        </div>
  
        <div class="input-group">
          <label for="password">Password</label>
          <div class="password-wrapper">
            <input
              [type]="showPassword ? 'text' : 'password'"
              id="password"
              name="password"
              [(ngModel)]="password"
              required
              placeholder="Enter your password"
            />
            <span class="toggle-password" (click)="togglePasswordVisibility()">
              <i class="material-icons">{{ showPassword ? 'visibility_off' : 'visibility' }}</i>
            </span>
          </div>
        </div>
  
        <button type="submit">Sign in</button>
        <p class="advise">Don't have an account?</p>
        <button class="signupButton" routerLink="/signup">Sign Up</button>
      </form>
    </div>
  </div>
  <router-outlet></router-outlet>
  