<div>
    <h1>Dungeon Game</h1>
    <ul>
        <li><a routerLink="/game" dataOnHover="=>Start"><span class="linkLabel">> Start</span></a></li>
        <li><a routerLink="/ranking" dataOnHover="=>Ranking"><span class="linkLabel">> Ranking</span></a></li>
        <li><a routerLink="/login" dataOnHover="=>Login"><span class="linkLabel">> Login</span></a></li>
        <li><a routerLink="/signup" dataOnHover="=>Signup"><span class="linkLabel">> Signup</span></a></li>
    </ul>
</div>
<router-outlet></router-outlet>