:host {
    --mov: lightskyblue;
    --dmg: red;
    --def: cornflowerblue;
}

.title {
    text-align: center;
    font-size: 2rem;
}

h2 {
    color: white;
    font-size: 3rem;
}

.levelCounter {
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0.60rem;
}

.character-container {
    display: inline-block;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
}

.returnHomeLink {
    margin: auto;
    font-size: 2rem;
    text-align: center;
    padding-bottom: 5%;
}

.linkLabel {
    font-size: 2rem;
}

.game-section {
    display: inline-block;
    vertical-align: middle;
    margin: auto;
    text-align: center;
}

.dungeon, .dungeon td {
    border: 1px solid black;
    background-color: white;
    border-collapse: collapse;
    font-size: 3rem;
}

.dungeon td {
    width: 100px;
    height: 100px;
}

.stats, .stats td{
    color: white;
    font-size: 40px;
    border-collapse: collapse;
}

.stats th, .tableEntityName {
    font-size: 20px;
}

.stats td{
    width: 70px;
    height: 10px;
}

.stats tr td:nth-child(2), .hp {
    color:lime;
}

.stats tr td:nth-child(3), .mov {
    color: var(--mov);
}

.stats tr td:nth-child(4), .dmg {
    color: var(--dmg);
}

.stats tr td:nth-child(5), .def {
    color: var(--def);
}

.stats tr td:nth-child(6), .rng {
    color:yellow;
}

.tableDivider {
    border-bottom: 5px solid white;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    padding-top: 5px;
    padding-bottom: 5px;
}

span, button {
    font-size: 2rem;
}

.energyDiceResults button {
    font-size: 6rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
}

input[type="radio"]{
    visibility: hidden;
}

label {
    cursor: pointer;
    font-size: 2rem;
    color: white;
    font-weight: bold;
}

input:checked + label {
    background-color: white;
    color: black;
}

a.giveUp:hover:before {
    background-color: red;
    color: white;
    content: attr(dataOnHover);
}

.confirmDiceButton {
    margin-top: 1rem;   
}