.title {
    margin: auto;
    text-align: center;
    font-size: 2rem;
}

.character-container {
    display: inline-block;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
}

.returnHomeLink {
    margin: auto;
    font-size: 2rem;
    text-align: center;
    padding-bottom: 5%;
}