<ng-container *ngIf="!isCharacterBeenChosen">
    <div class="title">
        <h1>Choose your character</h1>  
    </div>
    <div class="center">
        <div class="character-container" *ngFor="let character of characters">
            <app-character [character]="character" (sendChoice)="listenChildComponent($event)"></app-character>
        </div>
    </div>
    <div class="returnHomeLink"><a routerLink="/" dataOnHover=">Return Home<"><span class="linkLabel">> Return Home <</span></a></div>
</ng-container>
<ng-container *ngIf="isCharacterBeenChosen">
    <div class="title">
        <h1 class="levelCounter">Dungeon Level {{dungeonLevel+1}}</h1>
    </div>
    <div class="center">
        <div class="game-section">
            <app-character [character]="character" [isSelectionPhase]="!isCharacterBeenChosen"></app-character>
            <div class="center">
                <button dataOnHover=">Use Ability<" (click)="testDirective()"><span class="buttonLabel">> Use Ability <</span></button>
            </div>
        </div>
        <div class="game-section">
            <table class="dungeon">
                <tr *ngFor="let row of dungeon[dungeonLevel]; index as i">
                    <td *ngFor="let column of dungeon[dungeonLevel]; index as j" appRenderGameMap>{{dungeon[dungeonLevel][i][j]}}</td>
                </tr>
            </table>
            <table class="stats">
                <tr>
                    <th>2</th>
                    <th>HP</th>
                    <th>MOV</th>
                    <th>DMG</th>
                    <th>DEF</th>
                    <th>RNG</th>
                </tr>
                <tr>
                    <td>Giant Spider</td>
                    <td appReplaceNumberWithDice>2</td>
                    <td appReplaceNumberWithDice>5</td>
                    <td appReplaceNumberWithDice>4</td>
                    <td appReplaceNumberWithDice>4</td>
                    <td appReplaceNumberWithDice>3</td>
                </tr>
                <tr>
                    <td>Player</td>
                    <td appReplaceNumberWithDice>6</td>
                    <td appReplaceNumberWithDice>1</td>
                    <td appReplaceNumberWithDice>1</td>
                    <td appReplaceNumberWithDice>1</td>
                    <td appReplaceNumberWithDice>2</td>
                </tr>
            </table>
        </div>
        <div class="game-section">
            <h2>Energy Phase</h2>
            <div class="energyDiceResults">
                <p>Results:
                    <button appReplaceNumberWithDice>6</button>
                    <button appReplaceNumberWithDice>3</button>
                    <button appReplaceNumberWithDice>5</button>
                </p>
            </div>
            <h2>Actions</h2>
            <ul>
                <li><button dataOnHover=">Move<"><span class="buttonLabel">> Move <</span></button></li>
                <li><button dataOnHover=">Attack<"><span class="buttonLabel">> Attack <</span></button></li>
                <li><button dataOnHover=">End Turn<"><span class="buttonLabel">> End Turn <</span></button></li>
            </ul>
        </div>
    </div>
</ng-container>
<router-outlet></router-outlet>